<h1>Login</h1>

<form >
  <div class="registro">
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" >
    <!-- <div  class="alert alert-danger"> -->
      <!-- <div>
           Verificar email
         </div> -->
    <!-- </div> -->
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" >
    <!-- <div  class="alert alert-danger"> -->
    <!-- <div >La contraseña es requerida</div>
    <div >La contraseña debe tener minimo 8 caracteres</div> -->
  </div>
  </div>

  <button type="submit" class="btn btn-primary">Ingresar</button>
<!-- </div> -->
</form>
