.container-fluid {
  background-color: rgb(85, 71, 71);
  margin-top: -10px;
  padding-top: 20px;

  a{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(182, 14, 159);
  }
}
